* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  a {
    text-decoration: none;
    color: currentColor;
  }
  
  ul, ol, menu {
    list-style: none;
  }

  .container{
    max-width: 1024px;
    margin: 0 auto;
  }


  .container-md{
    max-width: 500px;
    margin: 0 auto;
  }

  .img-position{
    position: relative;
}

.circle{
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    aspect-ratio: 1;
    color: #c14227;
}

.img-hover{
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: rgb(250,116,35);
    background: linear-gradient(0deg, rgba(250,116,35,1) 0%, rgba(193,66,39,0.7343312324929971) 100%);
    color: white;
    padding: 30px;
    cursor: pointer;
    opacity: 0;
}


.img-hover:hover{
    opacity: 1;
}